@tailwind base;
@tailwind components;
@tailwind utilities;

.h {
  height: calc(100% + var(--home-hero-height));
}

@layer base {
  *::selection {
    @apply bg-[#31BDF8] text-white;
  }

  html {
    @apply scroll-smooth;

    --home-hero-height: 0px;
  }

  body::-webkit-scrollbar {
    @apply w-[7.5px];
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded bg-[#F1E230];
  }

  body::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply overflow-overlay bg-white font-montserrat text-[14px] font-normal leading-[19px] text-[#26333D];
  }

  #root {
    @apply flex min-h-full flex-col overflow-hidden;
  }
}

@layer utilities {
  .overflow-overlay {
    overflow: overlay;
  }
}
